.form-actions {
  margin-bottom: 1rem;
}

.help-block {
  color: #d9534f;
}

.filter {
  background-color: #f9f9f9;
  margin-bottom: 2rem;
}

// To make sure collections rendered by SimpleForm show on multiple lines.
label.collection_check_boxes {
  display: block;
}

// Underscored because of SimpleForm
.date_picker, .date_range_picker {
  [readonly="readonly"] {
    background-color: #fff;
  }

  .input-group-addon {
    cursor: pointer;
  }
}

input.btn {
  cursor: pointer;
}
