.form-actions {
  margin-top: 10px;
}

.help-block {
  color: #d9534f;
}

.filter {
  background-color: #f9f9f9;
  margin-bottom: 2rem;
}

// Underscored because of SimpleForm
.date_picker {
  [readonly="readonly"] {
    background-color: #fff;
  }

  .input-group-addon {
    cursor: pointer;
  }
}
