<p>
  <%= t('b.msg.redirects.test_header', source: @redirect.source_uri) %>
</p>

<% @redirect.trace.each do |r| %>
  <article class="redirect" data-id="<%= r.id %>" data-path="<%= resolve_backend_test_redirect_path(r) %>">
    <%= render 'backend/redirects/card', r: r.decorate %>
  </article>
<% end %>


