<div class="row subnav">
  <div class="col-md-12">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <% klass = %w(nav-link) %>
        <% klass << 'active' if active == :general %>

        <%= link_to t('b.general'), edit_backend_image_collection_path(model), class: klass %>
      </li>

      <li class="nav-item">
        <% klass = %w(nav-link) %>
        <% klass << 'active' if active == :images %>
        <%= link_to icon(:image, t('b.images')), backend_image_collection_images_path(model), class: klass %>
      </li>
    </ul>
  </div>
</div>
