<% javascript 'trix' %>
<% stylesheet 'trix' %>

<%= simple_form_for [:backend, @model] do |f| %>
  <div class="card">
    <div class="card-header">
      <%= t 'b.msg.flexible_content.edit_text' %>
    </div>

    <div class="card-block">
      <%# TODO: Try and use f.input :content, as: 'editor', label: false %>
      <%# https://github.com/galetahub/ckeditor/blob/master/lib/ckeditor/hooks/simple_form.rb %>
      <%= f.input :content, as: :hidden, label: false %>
      <trix-editor input="content_text_content"></trix-editor>
    </div>
  </div>

  <%= render 'backend/form_actions', cancel_url: content_path %>
<% end %>
