<%= simple_form_for [:backend, @model] do |f| %>
  <div class="row">
    <div class="col-md-8">
      <%= f.input :url, as: :string %>
    </div>

    <div class="col-md-4">
      <%= f.input :aspect_ratio, collection: ContentVideo::ASPECT_RATIOS, include_blank: false %>
    </div>
  </div>

  <%= render 'backend/form_actions', cancel_url: content_path %>
<% end %>
