#content-rows {
  margin-bottom: 35px;

  .row-placeholder {
    background-color: #ffdc99;
    border: 1px solid #ddba77;
    border-radius: 4px;
    opacity: 0.5;
  }

  /* Add row button */
  > a {
    width: 100%;
  }

  .handle {
    cursor: move;
  }

  .content-column {
    .card {
      .card-footer {
        background-color: white;
        padding-bottom: 4px;
        padding-top: 20px;
        border-top: none;

        .btn-group {
          position: absolute;
          bottom: 0;
          left: 0;

          a {
            border: 1px solid #e5e5e5;
            border-bottom: none;
            color: #e5e5e5;

            &:first-child {
              border-left: none !important;
              border-top-left-radius: 0;
            }

            &:last-child {
              border-bottom-right-radius: 0;
            }

            &:hover, &:focus, &:active {
              background-color: #999;
              color: white !important;
            }
          }
        }
      }

      &:hover {
        border: 1px solid #999;

        .btn-group a {
          border: 1px solid #999 !important;
          border-bottom: none !important;
          color: #999 !important;
        }
      }

    }
  }
}

.lightbox {
  margin-top: 35px;
}

.img-fluid {
  margin-bottom: 1rem;
}
