#content-rows {
  margin-bottom: 35px;

  .placeholder {
    background-color: #ffdc99;
    border: 1px solid #ddba77;
    border-radius: 4px;
    opacity: 0.5;
  }

  .handle {
    cursor: move;
  }

  .content-column {
    .card {
      &:hover {
        border: 1px solid #999;

        .btn-group a {
          border: 1px solid #999 !important;
          border-bottom: none !important;
          color: #333 !important;
        }
      }

      .card-footer {
        background-color: white;
        padding-bottom: 4px;
        padding-top: 20px;
        border-top: none;

        .btn-group {
          position: absolute;
          bottom: 0;
          left: 0;

          a {
            border: 1px solid #e5e5e5;
            border-bottom: none;
            color: #e5e5e5;

            &:first-child {
              border-left: none !important;
              border-top-left-radius: 0;
            }

            &:last-child {
              border-bottom-right-radius: 0;
            }
          }
        }
      }
    }
  }

  a.btn.full-width {
    width: 100%;
  }

  a.btn.block {
    padding: 25px;
  }
}
