<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Frontend placeholder</title>
  <%= csrf_meta_tags %>
</head>

<body>

  <h1>Udongo placeholder</h1>
  <p>Create app/views/layouts/frontend/application.html.erb to overwrite this layout.</p>
</body>
</html>
