<% if flash[:notice] || flash[:alert] %>
  <% alert_class = 'info' %>
  <% alert_class = 'success' if flash[:notice] %>

  <div class="alert alert-<%= alert_class %>" role="alert">
    <%= flash[:notice] %>
    <%= flash[:alert] %>
  </div>
<% end %>
