<!-- TODO too much margin on the bottom -->
<fieldset class="radius">
  <button type="submit" class="btn btn-primary"><%= t 'b.save' %></button>
  <%= link_to(t('b.cancel'), cancel_url) %>
</fieldset>
