<nav class="navbar navbar-dark bg-inverse">
  <%= link_to backend_path, class: 'navbar-brand' do %>
    <%= Udongo.config.base.project_name %>
  <% end %>

  <%= render 'layouts/backend/top_navigation' %>
</nav>

