<%= simple_form_for [:backend, @model] do |f| %>
  <div class="row">
    <div class="col-6">
      <%= f.input :form_id, collection: forms_collection %>
    </div>
  </div>

  <%= render 'backend/form_actions', cancel_url: '#lity-close' %>
<% end %>
