form.simple_form {
  .alert-box {
    &.info {
      color: rgb(75, 130, 150);
      font-size: 0.8em;
    }

    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.filter-panel {
  padding-bottom: 0;
}
