fieldset {
  background-color: #f9f9f9;

  &.radius {
    border-radius:  3px;
  }

  &.form-actions {
    padding-bottom: 0;
  }
}

.alert-box.alert {
  color: white;

  .close {
    color: rgb(242,222,222);
  }
}

.top-bar {
  margin-top: 15px;
}

%clearfix {
  zoom:1;
  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {
    clear: both;
  }
}
