.pagination {
  cursor: default;
  font-size: 0.9em;
  padding: 0.3em;
  text-align: center;

  a, span, em {
    padding: 0.2em 0.6em;
  }

  a {
    color: #aaa;
    text-decoration: none;

    &:hover, &:focus {
      background-color: #eee;
      border-radius: 2px;
    }
  }

  .current {
    font-style: normal;
    background-color: #008CBA;
    border-radius: 2px;
    color: white;
  }

  .previous_page { margin-right: 1em; }
  .next_page { margin-left: 1em; }
  .previous_page, .next_page {
    &.disabled {
      color: #bbb;
    }
  }

  .page_info {
    padding: 0.2em 0.6em;
  }
}
