table {
  width: 100%;


  tbody {
    tr td {
      ul {
        li {
          font-size: 0.9em;
          line-height: 1.4em;
        }

        &.no-styles {
          margin: 0;

          li {
            list-style: none;
          }
        }
      }
    }
  }

  tfoot {
    background-color: #fafafa;

    tr td {
      border-top: 1px solid #eee;
      font-weight: normal;
      padding: 0.3em 0.6em;
    }
  }
}

td {
  vertical-align: top;

  &.icons {
    font-size: 18px;
  }
}
