<% if object.present? && object.file.present? %>

  <%= image_tag object.file.size_1024x640.url, alt: '', class: 'img-fluid' %>

  <% if object.caption.present? %>
    <div class="text-center">
      <%= object.caption.html_safe %>
    </div>
  <% end %>
<% end %>
