<% if object.image_collection && object.slide_interval %>
  <strong><%= t 'b.slideshow' %></strong> &gt; <%= object.image_collection.description %>

<% else %>
  <p><%= t 'b.msg.flexible_content.no_slideshow_present' %></p>
<% end %>
