<% if object.url.present? && object.aspect_ratio.present? %>
  <div class="embed-responsive embed-responsive-<%= object.aspect_ratio_class %>">
    <iframe class="embed-responsive-item" src="<%= object.embed_url %>" allowfullscreen></iframe>
  </div>

<% else %>
  <p><%= t 'b.msg.flexible_content.no_video_present' %></p>
<% end %>
